.hero {
  padding: 32px 16px;
  background-color: #E2F8FF;
}
@media (min-width: 768px) {
  .hero {
    padding: 52px 0;
  }
}
@media (min-width: 1024px) {
  .hero {
    padding: 89px 0;
  }
}
@media (min-width: 1440px) {
  .hero {
    padding: 49px 0;
  }
}

.hero_content {
  margin: 0 auto;
}
@media (min-width: 768px) {
  .hero_content {
    display: flex;
    max-width: 704px;
    align-items: center;
    justify-content: space-between;
  }
}
@media (min-width: 1024px) {
  .hero_content {
    max-width: 796px;
  }
}
@media (min-width: 1440px) {
  .hero_content {
    max-width: 996px;
  }
}

@media (min-width: 768px) {
  .hero_block {
    padding-bottom: 32px;
  }
}
@media (min-width: 1024px) {
  .hero_block {
    padding: 0 0 48px 6px;
  }
}
@media (min-width: 1440px) {
  .hero_block {
    padding: 0 0 40px 18px;
  }
}

.hero_title {
  margin: 0 0 32px;
  font-size: 36px;
  font-weight: 500;
  line-height: 48px;
}
@media (min-width: 1024px) {
  .hero_title {
    font-size: 50px;
    line-height: 70px;
  }
}
@media (min-width: 1440px) {
  .hero_title {
    margin-bottom: 40px;
  }
}

.hero_subtitle {
  margin: 0 0 4px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
@media (min-width: 1024px) {
  .hero_subtitle {
    font-size: 20px;
    line-height: 28px;
  }
}

.hero_button {
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  .hero_button {
    display: inline-flex;
  }
}

.hero_image {
  display: block;
  width: 186px;
  margin: 0 auto 32px;
}
@media (min-width: 768px) {
  .hero_image {
    width: 224px;
    order: 1;
    margin: 0 60px 0 0;
  }
}
@media (min-width: 1024px) {
  .hero_image {
    width: 304px;
    margin-right: 0;
  }
}
@media (min-width: 1440px) {
  .hero_image {
    width: 384px;
  }
}