@import '../../../scss/site-variables';

.deliveryCharges {
  margin-bottom: 24px;
}

.deliveryCharges__list {
  padding: 16px;
  border: solid 1px $grey300;
  background-color: $white;
  @media (min-width: 768px) {
    padding: 0;
    border: 0;
  }
}

.deliveryCharges__item {
  display: flex;
  justify-content: space-between;

  &:not(:last-child) {
    margin-bottom: 12px;
  }
}
