.route {
  padding: 16px;
  border: 1px solid #E0E0E0;
  margin-top: 32px;
  border-radius: 6px;
}

.route_rush {
  border-color: #ED3939;
}

.route__aligner {
  display: flex;
  justify-content: space-between;
}

.route__statement {
  margin: 0 0 16px;
}

.route__actions {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.statusWithChange {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #39B6ED;
  cursor: pointer;
  font-weight: bold;
}

.row_contain {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.col_contain {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.delivery_select {
  width: 100%;
  align-items: center;
  padding: 3px;
  border: 2px solid #39B6ED;
  border-radius: 8px;
  color: #39B6ED;
  font-weight: bold;
  text-align: center;
}

.delivery_btn {
  padding: 5px 10px;
  border: 3px solid #1395CD;
  background-color: #39B6ED;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
}